<div class="container text-center">
  Please click the button to confirm that you accept the terms to continue using this website.
  <br>
  <br>
  <br>
  <%= button_to "Read the Terms", terms_path, method: :get, class: 'form-control btn btn-info' %>
  <br>
  <br>
  <%= button_to 'I Accept the Terms', iaccept_path, class: "form-control btn btn-success btn-medium" %>
  <br>
</div>
