<div class="container text-center">
	<h1>Privacy</h1>

	<p>Privacy and security are incredibly important to us. 
		We use Google for login and authentication, so we don't store passwords, you don't need to create a new password, and you don't need to reuse a password (which you should avoid doing). 
	</p>
	<p>	Google will know you've visited our site. We use <a href="http://www.google.com/analytics/">Google Analytics</a> for basic website usage information. Google Analytics gives us a general idea of which pages on our website are popular, but never information about any particular user. We rely on ads and Google ads to pay for this site, so the ad companies collect some data to provide a relevant ad. If you want to opt-out of interest-based advertising, you can do so <a href="http://www.networkadvertising.org/choices/">here.</a>
	</p> 
	<p>
		If you give us the information, we save it somewhere. For example, if you give us your name, we'll remember it. As a general rule, we save as little as possible. 
	</p>

	<p>
		We will delete user accounts more than 3 years old because you will not need this account after you graduate, and we don't want your information longer than necessary. 
	</p>

</div>
