

<div class="container text-center">
	<div class="row">
		<h1>Login Required</h1>
	</div>

	<div class="row">
		<br><br><%= link_to 'Sign in with Law School Account', signin_path, class: "btn btn-lg btn-primary" %><br><br>
	</div>

	<div class="row">
		<h2>Why Login?</h2>
	</div>

	<div class="row">
			Verfies All Users Are Actually Students
			<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:green;"></span>
	</div>

	<div class="row">
		We Don't Store Passwords
		<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:green;"></span>
	</div>

	<div class="row">
		Automatic Account Deletion - 3 years from today
		<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:green;"></span>
	</div>

	<div class="row">
		Minimum Data Collection
		<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:green;"></span>
	</div>

	<div class="row">
		Maximum Privacy
		<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:green;"></span>
	</div>

	<div class="row">
		Minimimum Hacking Risk - No New Password to Remember
		<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:green;"></span>
	</div>

	<div class="row">
		<br><br><br><br>
		<p>This website only requests the absolute minimum amount of information. We could not care less whether you browse celebrity websites when you should be studying, or whatever else Facebook or Google knows about you.</p><br><br><br>
	</div>
	<div class="row">
		<%= link_to 'Privacy Policy', privacy_path %>
	</div>

</div>

