<% provide(:title, "Terms and Responsibilites") %>
<div class="container-fluid">
  <h1>Terms of Use</h1>
  <div class="row">
    <p>
      Parties: You as the User; The Company as Eviato, LLC (the legal owner of this website).
    </p>
  </div>
  <div class="row">
    <p>
      These Terms govern the relationship between users of the Company’s Website and the Company. By using the Website (this website), you agree to these Terms, as updated according to the process in section 9 (“Modifications to These Terms”). The English version of these Terms controls.
    </p>
  </div>

  <div class="row">
    <span class="section_header">1. Privacy </span>
    <p>
      Our privacy policies are detailed in our <%= link_to 'Privacy Policy', privacy_path %>.
    </p>
  </div>
  <div class="row">
    <span class="section_header">2. Your Content and Information</span>
    <p>
      <b>2.1.</b>   You own all of the content You post on or transmit through the Website. For any content that is covered by intellectual privacy rights (“IP Content”) You grant the Company a non-exclusive, transferable, sub-licensable, royalty-free, worldwide License to use any of the IP Content. This IP License ends when You delete the content.
    </p>
    <p>
      <b>2.2.</b>   You grant the Company a non-revocable license to make derivative works from the content You create using the Company’s services.
    </p>
    <p>
      <b>2.3.</b>   Any feedback or suggestions you provide the Company are appreciated but You understand that You provide them without any expectation of compensation.
    </p>
  </div>
  <div class="row">
    <span class="section_header">3. Do Not</span>
    <p>
      There are some things You cannot do while using the Company’s services.
    </p>
    <p>
      <b>3.1.</b>   You will not post or send unauthorized commercial communications (such as spam) via the Company’s services.
    </p>
    <p>
      <b>3.2.</b>   You will not collect content or information, or access the Website or use the Company’s services using an automated means such as harvesting bots, spiders, scrapers, or crawlers) without the Company’s prior permission. You will not provide software to do the same.
    </p>
    <p>
      <b>3.3.</b>   You will not do anything that will disable or degrade the Company’s services, such as a denial of service attack or interfere with page rendering.
    </p>
    <p>
      <b>3.4.</b>   You will not attempt to decompile or attempt to extract source code from the Company. This applies to any website, browser plugin, application, or native software program of the Company’s.
    </p>
    <p>
      <b>3.5.</b>   You will not use the Company’s services to engage in any multi-level marketing scheme.
    </p>
    <p>
      <b>3.6.</b>   You will not use the Company’s services to distribute any malicious code, such as viruses or malware.
    </p>
    <p>
      <b>3.7.</b>   You will not attempt to gain access to an account belonging to anyone other than yourself.
    </p>
    <p>
      <b>3.8.</b>   You will not use the Company’s services to distribute content that is pornographic or threatening. You will not use the Company’s services to distribute content containing nudity, hate speech, or violence.
    </p>
    <p>
      <b>3.9.</b>   You will not use the Company’s services to do anything unlawful, malicious, misleading, or discriminatory.
    </p>
    <p>
      <b>3.10.</b>   You will not facilitate or encourage any violations of these Terms.
    </p>
  </div>
  <div class="row">
    <div class="section_header">4. Accounts</div>
    <p>
      Terms governing your account.
    </p>
    <p>
      <b>4.1.</b>   You will not create an account for someone else without their permission.
    </p>
    <p>
      <b>4.2.</b>   If we disable your account, You will not create a new one without our permission.
    </p>
    <p>
      <b>4.3.</b>   You will not use the Company’s services or website if you are under 13.
    </p>
    <p>
      <b>4.4.</b>   You will keep your contact information accurate and up-to-date.
    </p>
    <p>
      <b>4.5.</b>   You will not share your password or key with anyone, let anyone else use or access your account, or do anything else that would endanger the security of your account.
    </p>
  </div>

  <div class="row">
    <span class="section_header">5. Other People's Rights</span>
    <p>Terms related to other people’s rights.</p>
    <p>
      <b>5.1.</b>   You will not use the Company’s services to infringe on anyone else’s rights in an unlawful manner.
    </p>
    <p>
      <b>5.2.</b>   You will not use the Company’s copyright-protected material or Trademarks or any confusingly similar marks without prior written permission from the Company.
    </p>
    <p>
      <b>5.3.</b>   Your account may be disabled for violations of these Terms.
    </p>
    <p>
      <b>5.4.</b>   If You use the Company’s services to collect any information from other users of the Company’s services, You will make it clear that it is You, and not the Company requesting the information. In addition, You will provide robust and appropriate notice of what data is collected, how it will be used, and an opportunity for the user to review or edit the data. You will post a privacy policy detailing what information You collect and how You will use it.
    </p>
  </div>

 <div class="row">
   <span class="section_header">6. Mobile Devices</span>
   <p>
     Terms related to Mobile Devices.
   </p>
   <p>
     <b>6.1.</b>    If You provide your mobile phone number to the Company, and subsequently change or delete that mobile phone number, You will update your account information within 48 hours of the change. This is to prevent someone else from receiving messages intended for You.
   </p>
 </div>

 <div class="row">
   <span class="section_header">7. Payments</span>
   <p>
     Terms related to Payments can be found in our Payments Policy. A Payments Policy will be available when we begin any activty requiring payment. As of July 20, 2015 there is no Payment Policy.
   </p>
 </div>

  <div class="row">
    <span class="section_header">8. Your Data</span>
    <p>
      These Terms cover Your data.
    </p>
    <p>
      <b>8.1.</b>   Our <%= link_to 'Privacy Policy', privacy_path %> Governs most data related issues. See that document for more information.
    </p>
    <p>
      <b>8.2.</b>   Any information You provide to the Company is saved. For example, when You create an account with an email address the Company saves that email address.
    </p>
    <p>
      <b>8.3.</b>   You agree to provide accurate and up-to-date data.
    </p>
    <p>
      <b>8.4.</b>   The Company logs information about devices that connect to its services, which may include things like IP address or user-agent. This information is used to improve our services and prevent fraud.
    </p>

  </div>
  <div class="row">
    <span class="section_header">9. Modifications to These Terms</span>
    <p>
      The Company will update these from time to time.
    </p>
    <p>
      <b>9.1.</b>   The Company will notify You before it makes substantial changes to these terms and give You the chance to decline to continue to use the Company’s services.
    </p>
    <p>
      <b>9.2. </b>   The Company will notify You of changes either on this document or on another appropriate page from this website, whichever is more appropriate to notify You of the change.
    </p>
    <p>
      <b>9.3. </b>    Continuing to use the Company’s services is manifestation of acceptance of the latest terms.
    </p>
  </div>

  <div class="row">
    <span class="section_header"> 10. Delete Your Account</span>
    <p>
      <b>10.1.</b>    If You delete your account, any publicly available information associated with your account may no longer be available online. For example, a listing that You add or modify may be deleted when You delete your account, or it may remain online.
    </p>
  </div>

  <div class="row">
    <span class="section_header">11. Disputes</span>
    <p>
      <b>11.1.</b>    You will resolve any claim, cause of action, or dispute you have with the Company arising out of or related to these Terms in the United States District Court for the District of Columbia or the Superior Court of the District of Columbia. You also agree to submit to personal jurisdiction of these courts for the purposes of litigating all such disputes. The laws of the District of Columbia will govern these Terms and any dispute between you and the Company without regard to conflict of law provisions.
    </p>
    <p>
      <b>11.2.</b>    If anyone brings a claim or action against the Company related to your actions related to the use of the Company’s services, You will indemnify and hold the Company harmless from and against all damages, losses, and expenses of any kind related to the claim or action.
    </p>
    <p>
      <b>11.3.</b>    The Company’s services and website are provided without any warranty, express or implied, including but not limited to implied warranties of merchantability, fitness for a particular purpose, and non-infringement. The Company tries to provide the service bug-free, but You use the Company’s services at your own risk.
    </p>
    <p>
      <b>11.4.</b>    The Company does not guarantee that its services will always be error-free, or that it will be available without disruptions.
    </p>
    <p>
      <b>11.5.</b>    You will release the Company’s directors, officers, employees, agents, and shareholders from any claims and damages arising out of the actions of a third party.
    </p>
    <p>
      <b>11.6.</b>    If You are a California resident, You waive California Civil Code §1542.
    </p>
    <p>
      <b>11.7.</b>    The Company’s aggregate liability arising out of these Terms will not exceed the greater of one hundred dollars ($100) or the amount You have paid the Company in the past 12 months.
    </p>
    <p>
      <b>11.8.</b>    None of these Terms will force the user to waive a right that they cannot waive by accepting these Terms.
    </p>
    <p>
      <b>11.9.</b>    The Company’s liability will be limited to the fullest extent permitted by applicable law.
    </p>
  </div>
  <div class="row">
    <span class="section_header">12. Definitions</span>
    <p>
      Terms used throughout this document.
    </p>
    <p>
      <b>12.1.</b>    The “Company” means the corporate entity, parents, children, subsidiaries, and officers and personnel representing the Company that operates the services.
    </p>
    <p>
      <b>12.2.</b>    Any “information” means facts and information about You that You or others provide about You.
    </p>
    <p>
      <b>12.3.</b>    Any “content” means anything shared or distributed through the Company’s services.
    </p>
    <p>
      <b>12.4.</b>    “Trademarks” means any mark registered by the Company, or any mark that has obtained common law trademark protection by the Company in the applicable territory, including internationally.
    </p>
    <p>
      <b>12.5.</b>    The “Company’s Website” or the “Website” means www.schedulegw.com and any sub-domains within schedulegw.com
    </p>
  </div>

  <div class="row">
    <span class="section_header">13. Other Provisions</span>
    <p>
      Other things.
    </p>
    <p>
      <b>13.1.</b>    These Terms are the entire agreement between You and the Company. No oral terms are binding and are expressly superseded by these Terms.
    </p>
    <p>
      <b>13.2.</b>    If any portion of these Terms are found unenforceable, the finding of unenforceability will not affect any of the other sections.
    </p>
    <p>
      <b>13.3.</b>    The Company’s failure to enforce any provision is not a waiver.
    </p>
    <p>
      <b>13.4.</b>    You will not transfer or assign any of your rights under these Terms to anyone else without express written consent of the Company.
    </p>
    <p>
      <b>13.5.</b>    All of the Company’s obligations and rights under these Terms are freely assignable by the Company in connection with a merger, acquisition, or sale of assets, or by operation of law.
    </p>
    <p>
      <b>13.6.</b>    The law supersedes these Terms, and the Company will follow the law if it conflicts with these Terms.
    </p>
    <p>
      <b>13.7.</b>    The Company reserves all rights not expressly granted to You.
    </p>
    <p>
      <b>13.8.</b>    As stated above, You will comply with all applicable laws when using the Company’s services.
    </p>
  </div>

  <div class="row">
    <span class="section_header">14. Cost of Unauthorized Access</span>
    <p>
      <b>14.1.</b>    If you engage in unauthorized scraping, crawling, spidering, or other automated access to the Company’s services or site in violation of these Terms, you will pay the Company a fee of $00.10 per request to our server for the cost. If you acquire personal information, or personally identifiable information in such a manner, you will pay the Company $1.00 per item retrieved from our service. These charges are not penalties, but are reasonable compensation for the cost of providing such services.
    </p>
  </div>

  <div class="row">
    <% if current_user && current_user.accepted_terms == false %>
      <%= button_to 'I Accept the Terms', iaccept_path, class: "form-control btn btn-success btn-medium" %>
    <% end %>
  </div>

</div>
