<div id='wrapper'>
		<div id='content'>
		<div id='leftbox'>
			<div id='chosenclassesbox'>
				<!-- <div style='text-align:left; width:100%; color:black;'>Schedule:</div> -->
				
				<ul id='chosenclasseslist'>
				</ul>
				
			</div>
			<div id='classlist'>
				All Classes:
				
				<!-- <button onclick='addnewclass()' style='float:right'>Add New Class</button> -->
				<br/>
				<div>
					<img src="assets/plus.png" height=20 width=20 style='margin-left:1%;'>
					<span class='classname'>Class</span>
					<span class='ratings'>Ratings</span>
				</div>
				<ul id='classlisttarget'>
					
				</ul>
				<div style='text-align:center; width:100%; margin:auto'>Hold Shift and Click to Flag any class as Incorrect.</div>
			</div>
		</div>


		<div id='schedule-container'>
			<div id="time-col">
				<div id="time-table">
					<div class="time_segment">8:00a</div>
					<div class="time_segment">9:00a</div>
					<div class="time_segment">10:00a</div>
					<div class="time_segment">11:00a</div>
					<div class="time_segment">12:00n</div>
					<div class="time_segment">1:00p</div>
					<div class="time_segment">2:00p</div>
					<div class="time_segment">3:00p</div>
					<div class="time_segment">4:00p</div>
					<div class="time_segment">5:00p</div>
					<div class="time_segment">6:00p</div>
					<div class="time_segment">7:00p</div>
					<div class="time_segment">8:00p</div>
					<div class="time_segment">9:00p</div>
				</div>
			</div>
			<div id="cal-col">
				<div id="days-header">
					<div class="day_header_name">S</div>
					<div class="day_header_name">M</div>
					<div class="day_header_name">T</div>
					<div class="day_header_name">W</div>
					<div class="day_header_name">T</div>
					<div class="day_header_name">F</div>
					<div class="day_header_name">S</div>
				</div>
				<div id="days-cols">
					d
				</div>
			</div>
		</div>
		<div id='final_div'>
				Finals:
					<div id='final_anchor'>
					</div>
			</div>
	</div>
	<div id='google_ad_footer'>
		<ins class="adsbygoogle"
	     style="display:inline-block;width:728px;height:90px;"
	     data-ad-client="ca-pub-2138846449062972"
	     data-ad-slot="7436008426"></ins>
 	</div>
</div>