<div id='wrapper'>
	<div id='content'>
		<div id='leftbox'>
			<div id='chosenclassesbox'>
				<ul id='chosenclasseslist'>
				</ul>
			</div>
			<div id='classlist'>
				All Classes:
				<br/>
				<div>
					<span class='classname'>Class</span>
					<span class='ratings'>Ratings</span>
				</div>
				<ul id='classlisttarget'>
					
				</ul>
				<div style='text-align:center; width:100%; margin:auto'>Hold Shift and Click to Flag any class as Incorrect.</div>
			</div>
		</div>

		<div id='schedule-container'>
			<div id="schedule_header">
				<div class="schedule_column_header">Time</div>
				<div class="schedule_column_header">Sun</div>
				<div class="schedule_column_header">Mn</div>
				<div class="schedule_column_header">Tue</div>
				<div class="schedule_column_header">Wed</div>
				<div class="schedule_column_header">Thu</div>
				<div class="schedule_column_header">Fri</div>
				<div class="schedule_column_header">Sat</div>
			</div>
			<div id="schedule_columns_container">
				<div class="schedule_column" id="time_column">
					<div class="time_indicator" id="time_indicator_0">8:00am</div>
					<div class="time_indicator" id="time_indicator_1">9:00am</div>
					<div class="time_indicator" id="time_indicator_2">10:00am</div>
					<div class="time_indicator" id="time_indicator_3">11:00am</div>
					<div class="time_indicator" id="time_indicator_4">12:00n</div>
					<div class="time_indicator" id="time_indicator_5">1:00pm</div>
					<div class="time_indicator" id="time_indicator_6">2:00pm</div>
					<div class="time_indicator" id="time_indicator_7">3:00pm</div>
					<div class="time_indicator" id="time_indicator_8">4:00pm</div>
					<div class="time_indicator" id="time_indicator_9">5:00pm</div>
					<div class="time_indicator" id="time_indicator_10">6:00pm</div>
					<div class="time_indicator" id="time_indicator_11">7:00pm</div>
					<div class="time_indicator" id="time_indicator_12">8:00pm</div>
					<div class="time_indicator" id="time_indicator_13">9:00pm</div>
				</div>
				<div class="schedule_column" id="day1_column"></div>
					<div class="dotted_line_0 dotted_line"></div>
					<div class="dotted_line_1 dotted_line"></div>
					<div class="dotted_line_2 dotted_line"></div>
					<div class="dotted_line_3 dotted_line"></div>
					<div class="dotted_line_4 dotted_line"></div>
					<div class="dotted_line_5 dotted_line"></div>
					<div class="dotted_line_6 dotted_line"></div>
					<div class="dotted_line_7 dotted_line"></div>
					<div class="dotted_line_8 dotted_line"></div>
					<div class="dotted_line_9 dotted_line"></div>
					<div class="dotted_line_10 dotted_line"></div>
					<div class="dotted_line_11 dotted_line"></div>
					<div class="dotted_line_12 dotted_line"></div>
					<div class="dotted_line_13 dotted_line"></div> 
				<div class="schedule_column" id="day2_column"></div>
					<div class="dotted_line_0 dotted_line"></div>
					<div class="dotted_line_1 dotted_line"></div>
					<div class="dotted_line_2 dotted_line"></div>
					<div class="dotted_line_3 dotted_line"></div>
					<div class="dotted_line_4 dotted_line"></div>
					<div class="dotted_line_5 dotted_line"></div>
					<div class="dotted_line_6 dotted_line"></div>
					<div class="dotted_line_7 dotted_line"></div>
					<div class="dotted_line_8 dotted_line"></div>
					<div class="dotted_line_9 dotted_line"></div>
					<div class="dotted_line_10 dotted_line"></div>
					<div class="dotted_line_11 dotted_line"></div>
					<div class="dotted_line_12 dotted_line"></div>
					<div class="dotted_line_13 dotted_line"></div> 	
				<div class="schedule_column" id="day3_column"></div>
					<div class="dotted_line_0 dotted_line"></div>
					<div class="dotted_line_1 dotted_line"></div>
					<div class="dotted_line_2 dotted_line"></div>
					<div class="dotted_line_3 dotted_line"></div>
					<div class="dotted_line_4 dotted_line"></div>
					<div class="dotted_line_5 dotted_line"></div>
					<div class="dotted_line_6 dotted_line"></div>
					<div class="dotted_line_7 dotted_line"></div>
					<div class="dotted_line_8 dotted_line"></div>
					<div class="dotted_line_9 dotted_line"></div>
					<div class="dotted_line_10 dotted_line"></div>
					<div class="dotted_line_11 dotted_line"></div>
					<div class="dotted_line_12 dotted_line"></div>
					<div class="dotted_line_13 dotted_line"></div> 
				<div class="schedule_column" id="day4_column"></div>
					<div class="dotted_line_0 dotted_line"></div>
					<div class="dotted_line_1 dotted_line"></div>
					<div class="dotted_line_2 dotted_line"></div>
					<div class="dotted_line_3 dotted_line"></div>
					<div class="dotted_line_4 dotted_line"></div>
					<div class="dotted_line_5 dotted_line"></div>
					<div class="dotted_line_6 dotted_line"></div>
					<div class="dotted_line_7 dotted_line"></div>
					<div class="dotted_line_8 dotted_line"></div>
					<div class="dotted_line_9 dotted_line"></div>
					<div class="dotted_line_10 dotted_line"></div>
					<div class="dotted_line_11 dotted_line"></div>
					<div class="dotted_line_12 dotted_line"></div>
					<div class="dotted_line_13 dotted_line"></div> 
				<div class="schedule_column" id="day5_column"></div>
					<div class="dotted_line_0 dotted_line"></div>
					<div class="dotted_line_1 dotted_line"></div>
					<div class="dotted_line_2 dotted_line"></div>
					<div class="dotted_line_3 dotted_line"></div>
					<div class="dotted_line_4 dotted_line"></div>
					<div class="dotted_line_5 dotted_line"></div>
					<div class="dotted_line_6 dotted_line"></div>
					<div class="dotted_line_7 dotted_line"></div>
					<div class="dotted_line_8 dotted_line"></div>
					<div class="dotted_line_9 dotted_line"></div>
					<div class="dotted_line_10 dotted_line"></div>
					<div class="dotted_line_11 dotted_line"></div>
					<div class="dotted_line_12 dotted_line"></div>
					<div class="dotted_line_13 dotted_line"></div> 
				<div class="schedule_column" id="day6_column"></div>
					<div class="dotted_line_0 dotted_line"></div>
					<div class="dotted_line_1 dotted_line"></div>
					<div class="dotted_line_2 dotted_line"></div>
					<div class="dotted_line_3 dotted_line"></div>
					<div class="dotted_line_4 dotted_line"></div>
					<div class="dotted_line_5 dotted_line"></div>
					<div class="dotted_line_6 dotted_line"></div>
					<div class="dotted_line_7 dotted_line"></div>
					<div class="dotted_line_8 dotted_line"></div>
					<div class="dotted_line_9 dotted_line"></div>
					<div class="dotted_line_10 dotted_line"></div>
					<div class="dotted_line_11 dotted_line"></div>
					<div class="dotted_line_12 dotted_line"></div>
					<div class="dotted_line_13 dotted_line"></div> 
				<div class="schedule_column" id="day7_column"></div>
					<div class="dotted_line_0 dotted_line"></div>
					<div class="dotted_line_1 dotted_line"></div>
					<div class="dotted_line_2 dotted_line"></div>
					<div class="dotted_line_3 dotted_line"></div>
					<div class="dotted_line_4 dotted_line"></div>
					<div class="dotted_line_5 dotted_line"></div>
					<div class="dotted_line_6 dotted_line"></div>
					<div class="dotted_line_7 dotted_line"></div>
					<div class="dotted_line_8 dotted_line"></div>
					<div class="dotted_line_9 dotted_line"></div>
					<div class="dotted_line_10 dotted_line"></div>
					<div class="dotted_line_11 dotted_line"></div>
					<div class="dotted_line_12 dotted_line"></div>
					<div class="dotted_line_13 dotted_line"></div> 
			</div>
		</div>
	</div>
</div>
<div id="bottom_google_ad_container"></div>

<% if @schedule %>
	<script>
			window.load_these = [];
			<% @schedule.courses.each do |course| %>
				window.load_these.push(<%= course.crn %>);
			<% end %>
	</script>
<% end %>

<% if @sid %>
<% @schedule = Schedule.find_by(:unique_string => @sid) %>
	<script>
			window.load_these = []; 
			<% @schedule.courses.each do |course| %>
				window.load_these.push(<%= course.crn %>);
			<% end %>
	</script>
<% end %>
