<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h1 class="text-center">Schedules</h1>
			<h4 class="text-center"><%= link_to "Book Missing? Click Here", addtobooklist_new_path %></h4>
			<%= render @schedules %>
		</div>
		<div class="col-md-4">
      <div style="min-height:605px; min-width:305px; display:inline-block; position:relative; float:right" align="center">
        <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:600px"
         data-ad-client="ca-pub-2138846449062972"
         data-ad-slot="7024952022"></ins>
      </div>
		</div>
	</div>
</div>
