<h1>Scrape Data Changed</h1>

<p>
	Hey, 
</p>

<p>
	A Scrape of <%= @school %>'s data changed some data. 
  <a href="http://www.schedulegw.com/courses"> Edit it here. </a>

  <%= @final_times %><br>
  <%= @final_dates %>
</p>


