
$navbar-color: #d3d3d3;

$navbar-default-bg: $navbar-color;
$navbar-default-color: $navbar-color;
$navbar-default-link-color: #000000;


@import "bootstrap-sprockets";
@import "bootstrap";


@import "schedules";
@import "course";
@import "static_pages";
@import "subscriptions";
@import "framework_and_overrides";
@import "custom";