/*
CSS FOR MAIN VIEW
*/

.navbar-default {
	border-top: 4px solid #00007C;
	border-bottom: 4px solid #00007C;
}

img {
	border-radius:3px;
}

button {
	background-color:#7DD2BD;
	color:black;
	border: 1px solid black;
	border-radius:3px;
}

button:hover {
	background-color:#27DC85;
}

ul {
	padding:0;
	margin:5px;
}

#classlist ul li {
	list-style-type: none;
	font-family: 'Oxygen', sans-serif;
	margin:0;
	padding:0;
	width:100%;
	border-top:1px dotted black;
}

#classlist ul li img {
	float:left;
}

.available_course {
	opacity: 1;
}

.unavailable_course {
	opacity: .5;
}

#chosenclassesbox {
	max-height:250px;
	overflow-y:auto;

	#chosenclasseslist {
		list-style-type: none;
		display:inline-block;
		overflow-x:hidden;
		width:97%;
		img {
			display:inline-block;
		}
	}

	#finals_list {
		list-style-type:none;
		display:inline-block;
	}
}

#wrapper {
	margin:0;
	padding:0;
	padding-top:0px; /*Height of the nav header, which sticks to top of screen*/
	height:100%;
	width:100%;
	max-height:100%;
	max-width:100%;
	clear:both;
}

#bottom_google_ad_container {
	height:95px;
	width:100%;
	clear:both;
	text-align:center;
}

/*everything but the header and footer*/
#content {
	width:100%;
	height:100%;
	clear:both;
	margin:0;
	padding:0;
	max-height:100%;
	max-width:100%;
}

#content .fb_share_div {
	display:inline-block;
	-webkit-box-shadow: 5px 5px 10px 0px rgba(189,189,189,1);
	-moz-box-shadow: 5px 5px 10px 0px rgba(189,189,189,1);
	box-shadow: 5px 5px 10px 0px rgba(189,189,189,1);
	font-size: 1em;
	margin:-1px;
	border:solid 1px;
	border-radius:0;
	padding-top: 0.4em;
	padding-bottom: .4em;
	padding-right: .3em;
	padding-left: .3em;
}

#show_schedule_left {
	display:inline-block;
	width:75%;
	text-align: center;
}

#CRN_list {
	width:50%;
	margin-right:auto;
	margin-left:auto;
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
	background-color:#7DD2BD;
	display: block;
}

#show_schedule_email_div {
	display:block;
	width:75%;
	height:240px;
	margin-right:auto;
	margin-left:auto;
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
	background-color:#7DD2BD;
	border: solid 2px;
	border-radius: 5px;
	padding: 5px;
}

#show_schedule_email_div input[type=text], input[type=email] {
	font-size:1.3em;
	height:2em;
	width:90%;
	padding:3px;
}

#leftbox {
	margin-left:1px;
	margin-right:1px;
	margin-top:2px;
	margin-bottom:10px; /*Footer Height*/
	height:100%;
	max-height:100%;
	max-width:36%;
	width:36%;
	display:inline-block;
	font-size:12px;
}

#classlist {
	border:solid;
	border-radius:3px;
	background-color: #FFFFFF ;
	color:black;
	float:left;
	max-height:500px;
	min-height:65%;
	width:100%;
	margin:0px;
	margin-top:2px;
	padding:0px;
	padding-top:4px;
	font-size:12px;
	overflow-y:scroll;
}

#classesbox {
	border:solid;
	border-radius:3px;
	background-color: #FFCE80 ;
	color:black;
	float:left;
	width:100%;
	margin:0px;
	padding:0px;
	padding-top:4px;
}

.classname {
	margin-left:.9%;
	color:black;
	font-weight: bold;
	font-size:1.1em;
}

.profname {
	margin-left:1%;
	color:black;
	/*text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;*/

}

.ratings {
	float:right;
}

.GWU_btn {
	padding:2px;
}

.rmp_btn {
	padding:2px;
}


/*
Here marks
the division
between left
and right
sections of the
layout
*/

$column_width: 11%;
$row_height:7.6923076923%;

#schedule-container {
	display:inline-block;
	position:relative;
	width:63%;
	height:100%;
	min-height:500px;
	margin:0px;
	padding:0px;
	float:right;
	background:#eee;
	font-family:'Oxygen', sans-serif;
}

#schedule_header {
	display:block;
	width:100%;
	height:10%;
	overflow:hidden;
	padding-top:0;
	padding-bottom:0;
	padding-left:auto;
	padding-right:auto;
	margin:0;
}

.schedule_column_header {
	display:inline-block;
	width: $column_width;
	height:100%;
	background:white;
	text-align: center;
	text-decoration: underline;
	padding:0;
	margin-left:auto;
	margin-right:auto;
}

#schedule_columns_container {
	position:relative;
	max-height:500px;
	display:block;
	min-width:100%;
	height:780px;
	margin:0;
	padding:0;
}

.time_indicator {
	position:absolute;
	min-height:1%;
}

#time_indicator_0, .dotted_line_0 {
	top:0;
}
#time_indicator_1, .dotted_line_1 {
	top:$row_height;
}
#time_indicator_2, .dotted_line_2 { //10am
	top:$row_height*2;
}
#time_indicator_3, .dotted_line_3 {
	top:$row_height*3;
}
#time_indicator_4, .dotted_line_4 { //noon
	top:$row_height*4;
}
#time_indicator_5, .dotted_line_5 { //one pm
	top:$row_height*5;
}
#time_indicator_6, .dotted_line_6 {
	top:$row_height*6;
}
#time_indicator_7, .dotted_line_7 {
	top:$row_height*7;
}
#time_indicator_8, .dotted_line_8 { //four pm
	top:$row_height*8;
}
#time_indicator_9, .dotted_line_9 { //five pm
	top:$row_height*9;
}
#time_indicator_10, .dotted_line_10 { //six pm
	top:$row_height*10;
}
#time_indicator_11, .dotted_line_11 {
	top:$row_height*11;
}
#time_indicator_12, .dotted_line_12 { //8 pm
	top:$row_height*12;
}
#time_indicator_13, .dotted_line_13 { //9pm
	top:$row_height*13;
}

.dotted_line {
	position:absolute;
	border-top-style: dashed;
	border-top-width:1px;
	border-left:0;
	border-right:0;
	border-bottom:0;
	height:0px;
	margin:0;
	padding:0;
	width:100%;
	z-index:0;
}

.schedule_column {
	display:inline-block;
	position:relative;
	text-align:center;
	height:100%;
	width: $column_width;
	top:0;
	bottom:0;
	margin:0;
	padding:0;

}

/*Boxes on the schedule grid*/
.scheduled_course {
	position:absolute;
	max-width: 100%;
	background:white;
	min-height:1%;
	border:1px solid black;
	-webkit-box-shadow: 5px 5px 10px 0px rgba(87,87,87,1);
	-moz-box-shadow: 5px 5px 10px 0px rgba(87,87,87,1);
	box-shadow: 5px 5px 10px 0px rgba(87,87,87,1);
	line-height: 1em;
	z-index:1;

	.scheduled_course_name {
		font-size: .75em;
	}

	.scheduled_course_prof {
		font-size: .75em;
	}

}


#canvas .session {
	display:inline-block;
	width:13%;
	min-height:1%;
	border:1px solid black;
	-webkit-box-shadow: 5px 5px 10px 0px rgba(87,87,87,1);
	-moz-box-shadow: 5px 5px 10px 0px rgba(87,87,87,1);
	box-shadow: 5px 5px 10px 0px rgba(87,87,87,1);
}

main {
	min-height:12em;
}


// Listbook styling

.coursebooks_list {

}
