<style>

  #header {
    display:inline-block;
    width:100%;
    margin-bottom:30px;
    background-color: #fff;
    color: #00007C;
  }
  
  #logo_div {
    display:inline-block;
    color: #fff;
    margin-right:20px;
    height:50px;
  }

  #title_header {
    display:inline-block;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 50px;
    padding:0;
    text-align: center;
  }

</style>

<table id="header">
  <tr>
    <td>
     <img src="http://www.schedulegw.com/logo.png" height="50">
    </td>
    <td>
       <span id="title_header">ScheduleGW</span>
    </td>
  </tr>
</table>

