<style>
  #footer {
    color:#FFF;
    padding-top:2em;
    background-color: #d3d3d3;
    width:100%;
    text-align: center; 
  }

  #copyright {
    font-size:10px;
  }

</style>

<div id="footer">
  <a href="http://www.schedulegw.com">ScheduleGW</a> || 
  <a href= "http://goo.gl/forms/YEvOVWRJNQ">Feedback</a>
  <div id="copyright">Copyright 2015</div>
</div>