<style>
  #footer {
    color:#FFF;
    padding-top:2em;
    background-color: #00007C;
    width:100%;
    text-align: center;
    width:100%;
  }
  #footer a {
    color: #fff;
  }

  #copyright {
    font-size:10px;
  }

</style>

<div id="footer">
  <a href="https://www.schedulegw.com">ScheduleGW</a> ||
  <a href= "https://goo.gl/forms/YEvOVWRJNQ">Feedback</a>
  <div id="copyright">Copyright 2015</div>
</div>
