<footer class="footer">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav navbar-right">
      <li><a href='http://goo.gl/forms/ZHdgP7S0cu' target='_blank'>Errors/Feedback</a></li>
      <li><%= link_to 'Privacy Policy', privacy_path %></li>
    </ul>
  </nav>
</footer>
