<%# add navigation links to this file %>
<li><a href="https://my.law.gwu.edu/GWLAW/Records/Priority.aspx">Priority Form </a></li>
<li><a href="https://banweb.gwu.edu/PRODCartridge/twbkwbis.P_WWWLogin">Banweb Registration </a></li>
<li><a href="http://issuu.com/gwlawpubs/docs/2014_15_bulletin">Course Catalog </a></li>
<li><a href="http://www.law.gwu.edu/Students/Records/Spring2015/Pages/Default.aspx">Records Office </a></li>

<% if user_signed_in? %>
  <li><%= link_to 'Sign out', signout_path %></li>
<% else %>
  <li><%= link_to 'Sign in with Google', signin_path %></li>
<% end %>

