<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" id="search_bar">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to 'Sign out', signout_path %></li>
      <% else %>
        <li><%= link_to 'Sign in with Google', signin_path %></li>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">School Links<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="https://my.law.gwu.edu/GWLAW/Records/Priority.aspx">Priority Form </a></li>
              <li><a href="https://banweb.gwu.edu/PRODCartridge/twbkwbis.P_WWWLogin">Banweb Registration </a></li>
              <li><a href="http://issuu.com/gwlawpubs/docs/2014_15_bulletin">Course Catalog </a></li>
              <li><a href="http://www.law.gwu.edu/Students/Records/Spring2015/Pages/Default.aspx">Records Office </a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="divider"></li>
          <li><%= link_to 'Next', '#' %></li>
      </ul>

    </div>
  </div>
</nav>
